
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-theme.min.css" rel="stylesheet" />

<div class="register">
    <div class="container">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <h3>{{title}}</h3>
                <div class="well">
                    <div class="row">                                    
                        <div class="col-sm-12">
                            <!--<data-table [items]="items" [columns]="columns"></data-table>-->
                            <!--<div id="registerDataTable"></div>-->
                            <!--<div *ng-if="gridId">-->
                                <table [id]="gridid" class="display compact nowrap" cellspacing="0" width="100%"></table>                                
                            <!--</div>                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>