<style>
    .title {
        font-family: Arial, Helvetica, sans-serif;
    }

    .nav {
        display: inline;
        list-style-type: none;
        padding: 0;
        background-color: #F8F8F8;
    }

        .nav li {
            display: inline;
        }

    main {
        padding: 0.5em;
    }
</style>
<h1 class="title">Hello {{ name }}</h1>
<ul class="nav">
    <li><a router-link="tags">Tags</a></li>
    |
    <li><a router-link="transactionParser">Transaction Parser</a></li>
    |
    <li><a router-link="graphDisplay">Graph Display</a></li>    
    |    
    <li><a router-link="transactions">Transactions</a></li>
    |
    <li><a router-link="home">Home</a></li>
    |
    <li><a router-link="dashboard">Dashboard</a></li>
    |
    <li><a router-link="todo">Todo</a></li>
</ul>

<main>
    <router-outlet></router-outlet>
</main>